[submodule "raburton_esp8266"]
	path = raburton_esp8266
	url = https://github.com/raburton/esp8266.git
[submodule "spiffy"]
	path = spiffy
	url = https://github.com/kireevco/spiffy.git
[submodule "esp_mqtt"]
	path = esp_mqtt
	url = https://github.com/tuanpmt/esp_mqtt.git
[submodule "sming"]
	path = sming
	url = https://gitlab.geger.at/gernot/Sming.git
	branch = dobby_test1
